.event-group {
    /*padding: 30px 140px;*/
    max-width: 800px;
    margin: 0 auto;
}

.event-description {

}

.event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px 0 15px;
}

.event {
    width: 33%;
}

.event-box {
    margin: 5px;
}

.event img {
    width: 100%;
    height: 18vh;
    object-fit: cover;
}

@media (max-width: 800px) {
    .event {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .event {
        width: 100%;
    }
}



/*!* Widescreen *!*/
/*#events ul {*/
    /*padding: 30px 130px; padding: 30px 18vw;*/
    /*margin: 0;*/
    /*list-style-type: none;*/
/*}*/


/*#events li {*/
    /*margin: 10px 0;*/
/*}*/

    /*#events li:first-child {*/
        /*margin-top: 0;*/
    /*}*/

    /*#events li:last-child {*/
        /*margin-bottom: 0;*/
    /*}*/


/*.upcoming a.event {*/
    /*background-color: #ebb9ff !important;*/
    /*box-shadow: inset 0 0 0 1px #c89dd9 !important;*/
/*}*/

    /*a.event {*/
        /*display: block;*/
        /*color: #000;*/
        /*background-color: #f5f5f5;*/
        /*height: 140px;*/
        /*box-shadow: inset 0 0 0 1px #e1e1e1;*/
        /*width: 100%;*/
        /*border-radius: 3px;*/
    /*}*/

        /*a.event img {*/
            /*float: left;*/
            /*width: 120px;*/
            /*padding: 10px;*/
        /*}*/

        /*a.event .description {*/
            /*display: block;*/
            /*position: relative;*/
            /*height: 104px;*/
            /*padding: 16px 10px 20px 10px;*/
            /*white-space: nowrap;*/
            /*text-align: left;*/
        /*}*/

            /*a.event .description h2 {*/
                /*margin: 0 0 15px 0;*/
                /*height: 30px;*/
                /*line-height: 30px;*/
                /*font-size: 24px;*/
                /*overflow: hidden;*/
                /*text-overflow: ellipsis;*/
                /*font-weight: 400;*/
            /*}*/

            /*a.event .description .location {*/
                /*margin: 15px 0;*/
                /*height: 22px;*/
                /*line-height: 22px;*/
                /*font-size: 18px;*/
                /*overflow: hidden;*/
                /*text-overflow: ellipsis;*/
            /*}*/

            /*a.event .description .date {*/
                /*margin: 15px 0 0 0;*/
                /*height: 22px;*/
                /*line-height: 22px;*/
                /*font-size: 18px;*/
                /*overflow: hidden;*/
                /*text-overflow: ellipsis;*/
            /*}*/


/*!* Mobile *!*/
/*@media screen and (max-width: 736px) {*/
    /*#events ul {*/
        /*padding: 30px 16px;*/
    /*}*/


    /*a.event {*/
        /*height: 80px;*/
    /*}*/

        /*a.event img {*/
            /*width: 68px;*/
            /*padding: 6px;*/
        /*}*/

        /*a.event .description {*/
            /*height: 60px;*/
            /*padding: 4px 10px 20px 5px;*/
        /*}*/

            /*a.event .description h2 {*/
                /*margin: 0 0 2px 0;*/
                /*line-height: 22px;*/
                /*height: 22px;*/
                /*font-size: 18px;*/
            /*}*/

            /*a.event .description .location {*/
                /*margin: 2px 0;*/
                /*font-size: 15px;*/
            /*}*/

            /*a.event .description .date {*/
                /*margin: 2px 0 0 0;*/
                /*font-size: 15px;*/
            /*}*/
/*}*/