/* Widescreen */
.galleries {
    padding: 30px 130px; padding: 30px 14vw;
    font-size: 0;
}


.gallery {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-size: cover;
}

    .gallery div {
        width: 100%;
        height: 30%;
        top: 70%;
        background-color: rgba(0, 0, 0, 0.6);
        position: relative;
    }

    .gallery h2 {
        margin: 0;
        padding: 5px 0 0 10px;
        color: #fff;
        text-align: left;
        font-size: 18px;
        overflow: hidden;
        height: 24px;
        line-height: 24px;
    }

    .gallery p {
        margin: 0;
        padding: 5px 0 0 10px;
        color: #fff;
        text-align: left;
        font-size: 14px;
        overflow: hidden;
        height: 19px;
        line-height: 19px;
    }


/* Mobile */
@media screen and (max-width: 736px) {
    .galleries {
        padding: 30px 6px;
    }

    
    .gallery {
        width: 140px;
        height: 140px;
        margin: 3px;
    }

        .gallery h2 {
            padding: 3px 0 0 5px;
            font-size: 13px;
            font-weight: 400 !important;
            height: 19px;
            line-height: 19px;
        }

        .gallery p {
            padding: 0 0 0 5px;
            font-size: 12px;
            height: 17px;
            line-height: 17px;
        }
}
