body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #000;
}


a {
    text-decoration: none;
}


h1 {
    font-weight: 400;
}


h2, h3, h4, h5, h6, p {
    font-weight: 300;
}


ul {
    list-style-type: none
}


input {
    font-family: 'Open Sans', sans-serif;
}


section {
    text-align: center;
    background-color: #fff;
    padding: 30px 0;
}

    section > h1 {
        font-size: 32px;
        margin: 0;
    }

    section > h2 {
        font-size: 24px;
        margin: 20px 0;
    }
    

.aspect-ratio-2-3 {
    display: block;
    position: relative;
    padding-top: 150%; /* 20% padding would mean 80:20. */
}

    .aspect-ratio-2-3 > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }


/* Widescreen */
#widescreen-menu {
    position: absolute;
    top: 0;
    display: inherit;
    text-align: center;
    width: 100%;
    height: 75px; height: 8vh;
    line-height: 75px; line-height: 8vh;
    font-size: 20px;
    z-index: 1;
}

    #widescreen-menu ul {
        margin: 0;
        padding: 0;
    }

    #widescreen-menu li {
        display: inline-block;
        margin: 0 20px;
    }

    #widescreen-menu a {
        color: #fff;
    }


#widescreen-header {
    background: url("images/overlay.png"), url("images/header.jpg");
    background-size: auto, cover;
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    box-shadow: inset 0px 0px 0px 50vh rgba(17, 17, 17, 0.9);
    padding: 160px 0 130px 0; padding: 17vh 0 14vh 0;
    text-align: center;
}

    #widescreen-header h1 {
        font-size: 36px;
        line-height: 30px;
        margin: 0 20px 20px 20px;
        color: #fff;
    }

    #widescreen-header h2 {
        font-size: 25px;
        margin: 10px;
        color: #fff;
    }


footer {
    line-height: 0;
}

    footer #social-media {
        background-color: #ebebeb;
        height: 65px; height: 6.5vh;
    }

        footer #social-media ul {
            margin: 0;
            padding: 10px; padding: 1vh;
            text-align: center;
        }

        footer #social-media li {
            display: inline-block;
            margin: 0 16px;
        }

        footer #social-media img {
            border-radius: 50%;
            width: 45px; width: 4.5vh;
            height: 45px; height: 4.5vh;
        }


#mobile-header {
    display: none;
}


/* Mobile */
@media screen and (max-width: 736px) {
    #widescreen-menu {
        display: none;
    }


    #widescreen-header {
        display: none;
    }


    section {
        padding: 30px 0 10px 0;
    }

        section > h1 {
            font-size: 20px;
        }

        section > h2 {
            font-size: 17px;
            margin: 18px 0 4px 0;
        }


    #mobile-header {
        display: block;
        height: 65px;
        background-color: #222;
    }

        #mobile-header img {
            float: left;
            width: 25px;
            height: 35px;
            padding: 15px;
        }

        #mobile-header h1 {
            margin: 0;
            font-size: 18px;
            line-height: 65px;
            color: #fff;
        }


    footer #social-media {
        height: auto;
    }

        footer #social-media ul {
            margin: 0;
            padding: 7px 0;
        }

        footer #social-media li {
            margin: 0 14px;
        }

        footer #social-media img {
            width: 40px;
            height: 40px;
        }
}