/* Widescreen */
.newsletter-form {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px 130px;
    width: 100%;
    max-width: 1000px;
}


form {
    display: inline-block;
    max-width: 400px;
    width: 100%;
}


.user-details input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    box-shadow: inset 0 0 0 1px #e1e1e1;
    width: 100%;
    background: #f5f5f5;
    padding: 0.85em 1em;
    border-radius: 0.25em;
    border: 0;
    line-height: 1.25em;
}


.user-details .user-first-name {
    padding: 0 0 2.5px 0;
}


.user-details .user-last-name {
    padding: 2.5px 0;
}


.user-details .user-email {
    padding: 2.5px 0 0 0;
}


.user-details input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px #afd9e0;
    background: #fff;
}


.checkboxes {
    margin-top: 20px;
}


.checkbox {
    margin: 5px 0;
    padding: 0.85em 1em;
    box-shadow: inset 0 0 0 1px #e1e1e1;
    border-radius: 0.25em;
    text-align: left;
    font-size: 13.3333px;
    font-weight: 400;
}

    .checkbox > div {
        display: inline-block;
    }


.actions {
    margin-top: 20px;
}

    .actions .g-recaptcha {
        display: inline-block;
        margin-bottom: 21px;
    }

    .actions ul {
        padding: 0;
        margin: 0;
    }

    .actions li {
        display: inline-block;
        margin: 0px 20px;
    }

    .actions input {
        position: relative;
        background: #3d3d3d;
        padding: 0.85em 3em;
        border-radius: 0.25em;
        cursor: pointer;
        border: 0;
        color: #fff;
        font-size: 13px;
    }

    .actions input:hover {
        background: #4f4f4f;
    }


/* Mobile */
@media screen and (max-width: 736px) {
    .newsletter-form {
        padding: 30px 16px;
    }

    .actions input {
        font-size: 12px;
        padding: 0.85em 2.5em;
    }
}