/* Widescreen */
.sponsors {
    padding: 30px 130px; padding: 30px 14vw;
}

    .sponsors > a {
        display: block;
    }

    .sponsors > p {
        font-size: 18px;
        margin-top: 30px;
    }


.sponsor {
    max-width: 95%;
    margin: 5px;
}


/* Mobile */
@media screen and (max-width: 736px) {
    .sponsors {
        padding: 30px 6px;
    }

        .sponsors > p {
            font-size: 16px;
            margin-top: 25px;
        }


    .sponsor {
        margin: 3px;
    }
}