{{ define "head" }}
  <title>Coming Soon | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/miniCss/message.css" />
{{ end }}


{{ define "content" }}
  <section id="coming-soon">
    <h1>Coming Soon</h1>
    <div class="response">
      <p>Our website is under construction. This section is coming soon!</p>
    </div>
  </section>
{{ end }}