{{ define "head" }}
  <title>Contact | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/contact.css" />
{{ end }}


{{ define "scripts" }}
  <script src="https://www.google.com/recaptcha/api.js"></script>
{{ end }}


{{ define "content" }}
  <section id="contact">
    <h1>Contact</h1>
    <div class="contact-form">
      <form method="post" action="contact">
        <div class="user-details">
          <div class="user-name">
            <input type="text" name="sender-name" placeholder="Your Name (Optional)">
          </div><!--
          --><div class="user-email">
            <input type="text" name="sender-email" placeholder="Your Email (Optional)">            
          </div>
        </div>
        <div class="message">
          <textarea name="message" placeholder="Message"></textarea>
        </div>
        <div class="actions">
          <div class="g-recaptcha" data-sitekey="{{ . }}"></div>
          <ul>
            <li>
              <input class="submit-button" type="submit" value="Send Message">
            </li>
            <li>
              <input class="reset-button" type="reset" value="Clear Form">
            </li>
          </ul>
        </div>
      </form>
    </div>
  </section>
{{ end }}