{{ define "head" }}
  <title>Events | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/events.min.css" />
{{ end }}


{{ define "content" }}
  <section id="events">
    <h1>Events</h1>

    {{if .HaveRightNow}}
        <h2>Right now</h2>
        <hr/>
        <ul>
          {{ range .EventGroup.RightNow }}
            <li>
              <a class="event" href="{{ .URL }}">
                <img src="{{ .ImageURL }}">
                  <div class="description">
                    <h2>{{ .Name }}</h2>
                    <p class="location">{{ .Location }}</p>
                    <p> {{ .AttendingCount }} attending </p>
                  </div>
              </a>
            </li>
          {{ end }}
        </ul>
    {{end}}


  {{if .HaveUpcoming}}
      <h2>Upcoming</h2>
      <hr/>
      <ul>
      {{ range .EventGroup.Upcoming }}
          <li>
              <a class="event" href="{{ .URL }}">
                  <img src="{{ .ImageURL }}">
                  <div class="description">
                      <h2>{{ .Name }}</h2>
                      <p class="location">{{ .Location }}</p>
                      <p> {{ .AttendingCount }} attending </p>
                  </div>
              </a>
          </li>
      {{ end }}
      </ul>
  {{end}}

      <h2>Past events</h2>
      <hr/>
      <ul>
      {{ range .EventGroup.Past }}
          <li>
              <a class="event" href="{{ .URL }}">
                  <img src="{{ .ImageURL }}">
                  <div class="description">
                      <h2>{{ .Name }}</h2>
                      <p class="location">{{ .Location }}</p>
                      <p> {{ .AttendingCount }} attending </p>
                  </div>
              </a>
          </li>
      {{ end }}
      </ul>
  </section>

{{end}}