{{ define "head" }}
  <title>Events | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/events.min.css" />
{{ end }}


{{ define "content" }}
  <section id="events">
    <h1>Events</h1>

      <div class="event-group">

    {{if .HaveRightNow}}
        <h2>Right now</h2>
        <hr/>
        <div class="event-list">
          {{ range .EventGroup.RightNow }}
            <div class="event" >
                <div class="event-box">
                      <a href="{{ .URL }}">
                        <img src="{{ .ImageURL }}">
                          <div class="event-description">
                            <p class="event-name">{{ .Name }}</p>
                          </div>
                      </a>
                </div>
            </div>
          {{ end }}
        </div>
    {{end}}


  {{if .HaveUpcoming}}
      <h2>Upcoming</h2>
      <hr/>
      <div class="event-list">
      {{ range .EventGroup.Upcoming }}
          <div class="event" >
              <div class="event-box">
                  <a href="{{ .URL }}">
                      <img src="{{ .ImageURL }}">
                      <div class="event-description">
                          <p class="event-name">{{ .Name }}</p>
                      </div>
                  </a>
              </div>
          </div>
      {{ end }}
      </div>
  {{end}}

      <h2>Past events</h2>
      <hr/>
      <div class="event-list">
      {{ range .EventGroup.Past }}
          <div class="event" >
              <div class="event-box">
                  <a href="{{ .URL }}">
                      <img src="{{ .ImageURL }}">
                      <div class="event-description">
                          <p class="event-name">{{ .Name }}</p>
                      </div>
                  </a>
              </div>
          </div>
      {{ end }}
      </div>

      </div>
  </section>

{{end}}