{{ define "head" }}
  <title>Events | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/events.min.css" />
{{ end }}


{{ define "content" }}
  <section id="events">
    <h1>Events</h1>

        <div class="event-group">

            {{if .HaveOngoing}}
                <h2>Ongoing Events</h2>
                <hr/>
                {{ template "event-list" .EventGroup.Ongoing }}
            {{end}}

            {{if .HaveUpcoming}}
                <h2>Upcoming Events</h2>
                <hr/>
            {{ template "event-list" .EventGroup.Upcoming }}
            {{end}}

          <h2>Past Events</h2>
          <hr/>
          {{ template "event-list" .EventGroup.Past }}

        </div>
  </section>

{{end}}