{{ define "head" }}
    <title>Gallery | HackSoc</title>
    <link rel="stylesheet" type="text/css" href="assets/css/gallery.min.css" />
{{ end }}

{{ define "content" }}
    <section id="gallery">
        <h2>Gallery</h2>
        <div class="galleries">
            {{ range . }}
                <a href="{{ .Link }}" target="_blank">
                    <div class="gallery" style='background-image: url("{{ .ImageURL }}")'>
                        <div>
                            <h2>{{ .Title }}</h2>
                            <p>{{ .Description }}</p>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </section>
{{ end }}
