{{ define "head" }}
  <title>Contact | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/message.css" />
{{ end }}


{{ define "content" }}
  <section id="contact">
    <h1>Contact</h1>
    <div class="response">
      <p>{{ . }}</p>
    </div>
  </section>
{{ end }}