{{ define "head" }}
  <title>{{ .Title }} | HackSoc</title>
  <link rel="stylesheet" type="text/css" href="assets/css/message.min.css" />
{{ end }}


{{ define "content" }}
  <section id="message">
    <h1>{{ .Title }}</h1>
    <div class="response">
      <p>{{ .Message }}</p>
    </div>
  </section>
{{ end }}