{{ define "footer" }}
  <footer>
    <div id="sponsors">
      <ul>
        <li>
          <a href="https://google.com/">
            <img src="assets/images/sponsors/unknown.png" alt="Unknown">
          </a>
        </li>
      </ul>
    </div>
    <div id="social-media">
      <ul>
        <li>
          <a href="https://facebook.com/hacksoc">
            <img src="assets/images/social-media/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://github.com/hacksoc-manchester">
            <img src="assets/images/social-media/github.svg" alt="GitHub">
          </a>
        </li>
      </ul>
    </div>
    <div id="copyright">
      &copy; 2016 HackSoc
    </div>
  </footer>
{{ end }}