{{ define "footer" }}
  <footer>
    <div id="social-media">
      <ul>
        <li>
          <a href="https://facebook.com/groups/HackSocManc/">
            <img src="assets/images/social-media/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://github.com/hacksoc-manchester">
            <img src="assets/images/social-media/github.svg" alt="GitHub">
          </a>
        </li>
      </ul>
    </div>
  </footer>
{{ end }}