{{ define "header" }}
  <nav id="widescreen-menu">
    <ul>
      <li><a href="/events">Events</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <a href="/">
    <header id="widescreen-header">
      <h1>HackSoc</h1>
      <h2>Student-led Tech Society</h2>
    </header>
  </a>
  <a href="/">
    <header id="mobile-header">
      <img src="/assets/images/logo.png">
      <h1>HackSoc</h1>
    </header>
  </a>
{{ end }}